@import "@tryghost/shared-theme-assets/assets/css/v1/screen.css";
@import "general/fonts.css";
@import "general/basics.css";
@import "site/header.css";
@import "site/layout.css";
@import "site/term.css";
@import "blog/post.css";
@import "blog/featured.css";
@import "blog/article.css";
@import "blog/author.css";
@import "blog/navigation.css";
@import "blog/comment.css";
@import "blog/related.css";
@import "misc/utilities.css";

#disqus_thread {
  max-width: 800px; /* 본문 너비에 맞게 조정 */
  padding: 0 15px; /* 여백 추가 */
}

.gh-foot {
  background-color: #f4f4f4;
}
